.Dish {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid darkolivegreen;
}

.Dish .block-img {
    width: 30%;
}

.Dish .block-img img {
    width: 100%;
    height: auto;
}

.Dish .block-info {
    width: 30%;
}

.Dish .block-info .title {
    margin: 0;
    padding: 10px;
}

.Dish .block-btn {
    width: 40%;
    text-align: center;
}

.Dish .btn-cart {
    padding: 5px 10px 5px 30px;
    background: url("../../assets/images/shopping-cart.png") 5px center no-repeat;
    background-size: 20px 20px;
    border-radius: 8px;
}