.DishInCart {
    padding: 10px;
}

.DishInCart .info-box {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.DishInCart .info-box__title {
    width: 30%;
}

.DishInCart .info-box__cost {
    width: 20%;
}

.DishInCart .info-box__amount {
    width: 20%;
}

.DishInCart .info-box__drop {
    width: 30%;
}